<!--      TITLE        -->
{{define "title"}}{{.quiz.Title}} — quiz{{end}} — Siejmy

<!--      HEAD         -->
{{define "head"}}
<script
  defer
  type="module"
  src="{{ .staticRoute }}frontend/quiz.umd.min.js"
></script>
{{end}}

<!--      BODY         -->
{{define "body"}}
<div id="quiz-app">Ładowanie...</div>

<script>
  const quizConfig = JSON.parse({{.quizJson}})
  console.log(quizConfig)

  document.addEventListener("DOMContentLoaded", function () {
    quiz.mountQuiz("#quiz-app", {
      title: "{{ .quiz.Title }}",
      reCaptchaKey: "{{ .env.RE_CAPTCHA_KEY }}",
      facebookAppId: "{{ .env.FACEBOOK_APP_ID }}",
      quiz: quizConfig,
    });
  });
</script>
{{end}}
