<!--      TITLE        -->
{{define "title"}}{{.quiz.Title}} — Siejmy QUIZ{{end}}

<!--      HEAD         -->
{{define "head"}}
<script
  defer
  type="module"
  src="{{ .staticRoute }}frontend/quiz.umd.min.js"
></script>

<meta property="og:url" content="{{ .quizUrl }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{.quiz.Title}} — Siejmy QUIZ" />
<meta property="og:description" content="{{ .quiz.MetaIntro }}" />
<meta property="og:image" content="{{ .shareImageUrl }}" />
<meta property="fb:app_id" content="{{ .env.FACEBOOK_APP_ID }}" />
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@graph": [
      {
        "@type": "WebSite",
        "@id": "https://{{ .domainName }}/#website",
        "url": "https://{{ .domainName }}/",
        "name": "Siejmy QUIZ",
        "description": "Quizy i gry katolickie",
        "inLanguage": "pl-PL"
      },
      {
        "@type": "WebPage",
        "@id": "{{ .quizUrl }}#webpage",
        "url": "{{ .quizUrl }}",
        "name": "{{.quiz.Title}} — Siejmy QUIZ",
        "isPartOf": { "@id": "https://siejmy.pl/#website" },
        "datePublished": "{{ .quiz.DatePublishedISO }}",
        "dateModified": "{{ .quiz.DatePublishedISO }}",
        "description": "{{ .quiz.MetaIntro }}",
        "primaryImageOfPage": {
          "contentUrl": "{{ .shareImageUrl }}"
        },
        "image": "{{ .shareImageUrl }}",
        "inLanguage": "pl-PL",
        "potentialAction": [
          { "@type": "ReadAction", "target": ["{{ .quizUrl }}"] }
        ]
      }
    ]
  }
</script>
{{end}}

<!-- BODY CLASS -->
{{define "bodyclass"}}quiz{{end}}

<!--      BODY         -->
{{define "body"}}
<div id="quiz-app">Ładowanie...</div>

<script>
  const quizConfig = JSON.parse({{.quizJson}})
  console.log(quizConfig)

  document.addEventListener("DOMContentLoaded", function () {
    quiz.mountQuiz("#quiz-app", {
      title: "{{ .quiz.Title }}",
      saveUrl: "/{{ .routeBase }}/save/",
      reCaptchaKey: "{{ .env.RE_CAPTCHA_KEY }}",
      facebookAppId: "{{ .env.FACEBOOK_APP_ID }}",
      quiz: quizConfig,
    });
  });
</script>
{{end}}
